{% extends 'base/base.html' %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
    <div class="img-big-wrap">
      <div> <a href="#"><img src="/media/{{product.image}}"></a></div>
    </div> <!-- slider-product.// -->
    <div class="thumbs-wrap">
      <a href="#" class="item-thumb"> <img src="/media/{{product.image}}"></a>
    </div> <!-- slider-nav.// -->
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">
    <article class="content-body">
    
    <h2 class="title">{{product.name}}</h2>
    
    <div class="rating-wrap my-3">
        <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
            </li>
            <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
            </li>
        </ul>
    </div> <!-- rating-wrap.// -->
    
    <div class="mb-3"> 
        <var class="price h4">
            {% if updated_price %}    
            Rs. {{updated_price}}
            {% else %}
            Rs. {{  product.price  }}
            {%endif%}
        
        </var> 
    </div> <!-- price-detail-wrap .// -->
    
    <p>{{product.description}}</p>
    
    
    <hr>
        <div class="form-row">
            <div class="form-group col-md flex-grow-0">
                <label>Quantity</label>
                <div class="input-group mb-3 input-spinner">
                  <div class="input-group-prepend">
                    <button class="btn btn-light" type="button" id="button-plus"> + </button>
                  </div>
                  <input type="text" class="form-control" value="1">
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button" id="button-minus"> − </button>
                  </div>
                </div>
            </div> <!-- col.// -->
            <div class="form-group col-md">
                {% if product.size_variants.count %}
                    <label>Select size</label>
                    <div class="mt-1">
                        {% for size in product.size_variants.all %} 
                        <label class="custom-control custom-radio custom-control-inline">
                          <input type="radio" onchange="get_correct_price('{{size.size}}')" name="select_size" {% if selected_size == size.size %} checked="" {% endif %} class="custom-control-input">
                          <div class="custom-control-label">{{ size.size }}</div>
                        </label>
                        {% endfor %}
                    </div>
                    {% endif %}
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    
        <a href="{% url 'add_to_cart' product.uid %}?size={{selected_size}}&quantity=1" class="btn  btn-outline-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
    </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    

    </div>
    </section>

    <script>

        function get_correct_price(size){
            console.log(size)
            window.location.href = window.location.pathname + `?size=${size}`;
        }

      
    </script>

{% endblock %}